.body {
  min-width: 414px;
  margin: 0 auto;
}

.header_menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 18px 20px;
}

.header_menu_decstop {
  display: none;
}

@media (min-width: 1000px) and (max-width: 1920px) {
  .Hamburger {
    display: none;
  }
  .basket {
    display: none;
  }
  .header_menu {
    display: block;
  }
  .header_logo {
    text-align: center;
  }
  .header_menu_decstop {
    display: flex;
    justify-content: space-evenly;
  }
  .header_menu_decstop a {
    text-decoration: none;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #0A0A0A;
  }
  .header_menu_decstop .headrer_a {
    color: #979797;
  }
  .menu_item {
    display: flex;
    gap: 40px;
  }
  .header_nav {
    display: flex;
    gap: 20px;
  }
}
.new {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.new .tile {
  margin-top: -50px;
  width: 388px;
  background-color: #666A6F;
}
.new .tile h2 {
  padding: 10px 20px 10px 20px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.new .tile p {
  padding: 10px 20px 10px 20px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ECECEC;
}
.new .tile button {
  cursor: pointer;
  margin: 10px 180px 30px 20px;
  background-color: #FFFFFF;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: right;
  text-transform: uppercase;
  color: #040404;
  border: none;
  padding: 14px 40px 14px 40px;
  transition: 0.6s;
  border-radius: 10px;
}
.new .tile button:hover {
  background-color: #073874;
}

@media (min-width: 1000px) and (max-width: 1920px) {
  .new {
    margin-top: 30px;
    background-image: url(../img/background_chair.jpg);
    max-width: 1920px;
    height: 676px;
    background-repeat: no-repeat;
  }
  .new img {
    display: none;
  }
  .new .tile {
    width: 600px;
    height: 400px;
    position: absolute;
    left: 700px;
    top: 220px;
  }
  .new .tile h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
  }
  .new .tile p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }
}
.Products {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Products h2 {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #111010;
}
.Products h2:after {
  content: "";
  border-bottom: solid 5px #141313;
}
.Products p {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #616161;
}

body {
  position: relative;
  height: 100%;
}

.swiper_h2 {
  padding: 200px 100px;
  font-family: "KyivType Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 90px;
  line-height: 132.9%;
  text-transform: uppercase;
  color: #F5F5F5;
}

.container {
  margin-bottom: 250px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_s {
  min-width: 454px;
  max-height: 274px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.Custom_bullet {
  width: 26px;
  height: 26px;
  border: 4px solid #728BAD;
  border-radius: 100%;
  margin: 0 9px;
  display: inline-block;
  box-sizing: border-box;
}
.Custom_bullet.swiper-pagination_bullet_active {
  background: #D5DCEE;
}

.castom {
  margin: auto;
  width: 361px;
  height: 93px;
  background-color: #111010;
  border: 1px solid #FFFFFF;
}
.castom h2 {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}
.castom p {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  text-align: center;
  color: #B4B4B4;
}

@media (min-width: 1000px) and (max-width: 1920px) {
  .container {
    display: none;
  }
  .Products {
    margin-bottom: 30px;
  }
  .desktop {
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .desktop .img_item {
    width: 558px;
    height: 618px;
  }
  .desktop .item {
    padding-top: 25px;
    position: absolute;
    margin-top: -80px;
    margin-left: 17px;
    width: 520px;
    height: 110px;
    background-color: #111010;
    border: 1px solid #FFFFFF;
  }
  .desktop .item h2 {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
  }
  .desktop .item p {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #B4B4B4;
  }
  .desktop .img_item1 {
    width: 330px;
    height: 618px;
  }
  .desktop .item1 {
    padding-top: 25px;
    margin-left: 22px;
    position: absolute;
    margin-top: -80px;
    width: 285px;
    height: 110px;
    background-color: #111010;
    border: 1px solid #FFFFFF;
  }
  .desktop .item1 h2 {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
  }
  .desktop .item1 p {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #B4B4B4;
  }
  .desktop .img_item2 {
    width: 420px;
    height: 280px;
  }
  .desktop .item2 {
    padding-top: 25px;
    margin-left: 25px;
    position: absolute;
    margin-top: -80px;
    background-color: #111010;
    border: 1px solid #FFFFFF;
    width: 370px;
    height: 110px;
  }
  .desktop .item2 h2 {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
  }
  .desktop .item2 p {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #B4B4B4;
  }
  .desktop .item2_last {
    margin-top: 52px;
  }
}
@media (min-width: 0px) and (max-width: 1000px) {
  .desktop {
    display: none;
  }
}
.vision {
  position: absolute;
  margin-top: -200px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #e9e3e3;
  width: 388px;
  height: 369px;
}
.vision h2 {
  padding: 20px 270px 10px 20px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  display: flex;
  align-items: center;
  color: #111010;
}
.vision p {
  padding: 10px 20px 20px 20px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #616161;
}
.vision button {
  margin: 20px 180px 20px 20px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  width: 180px;
  height: 45px;
  cursor: pointer;
  background-color: #111010;
  color: #FFFFFF;
  transition: 0.9s;
  letter-spacing: 3px;
}
.vision button:hover {
  background-color: #f51010;
  border: none;
}
.vision img {
  width: 428px;
  height: 579px;
}

@media (min-width: 1000px) and (max-width: 1920px) {
  .vision_flex {
    display: flex;
  }
  .vision_flex .vision {
    padding: 20px;
    width: 708px;
    height: 402px;
    margin-top: 100px;
    margin-left: -5px;
    margin-right: 20px;
  }
  .vision_flex .img_floor {
    margin-left: auto;
  }
  .vision_flex img {
    width: 1301px;
    height: 526px;
  }
}
.Designers h2 {
  margin-top: 20px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #111010;
}
.Designers p {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #616161;
  margin-bottom: 20px;
}

.Designers_img {
  display: none;
}

@media (min-width: 1000px) and (max-width: 1920px) {
  .Designers {
    display: none;
  }
  .Designers1 {
    position: absolute;
    margin-left: 10px;
    padding-top: 120px;
    width: 610px;
  }
  .Designers1 h2 {
    margin-top: 20px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: left;
    color: #111010;
  }
  .Designers1 p {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: left;
    color: #616161;
    margin-bottom: 20px;
  }
  .Designers_img {
    margin-top: 50px;
    display: flex;
  }
  .Designers_img picture {
    margin: auto;
  }
}
.Dubai {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Dubai h2 {
  margin-top: 20px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 26px;
  text-align: center;
  text-transform: capitalize;
  color: #111010;
}
.Dubai p {
  margin-top: 10px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  text-transform: capitalize;
  color: rgba(17, 16, 16, 0.5);
}
.Dubai button {
  display: block;
  font-family: "Proxima Nova";
  font-style: normal;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 3px;
  width: 153px;
  height: 45px;
  margin-top: 10px;
  background: #111010;
  border: none;
  transition: 0.3s;
}
.Dubai button:hover {
  background-color: #073874;
}

.wrapper {
  display: none;
}

@media (min-width: 1000px) and (max-width: 1920px) {
  .wrapper {
    display: flex;
    gap: 5px;
  }
  .wrapper img {
    width: 333px;
    height: 333px;
  }
  .wrapper h3 {
    margin-top: 20px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 26px;
    text-align: center;
    text-transform: capitalize;
    color: #111010;
  }
  .wrapper p {
    margin-top: 10px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #616161;
  }
}
.Showrooms {
  margin-left: 17px;
  margin-top: -200px;
  position: absolute;
  width: 388px;
  height: 308px;
  background: #b6b4b4;
}
.Showrooms h2 {
  padding: 20px 140px 20px 20px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 56px;
  display: flex;
  align-items: center;
  color: #000000;
}
.Showrooms p {
  padding: 10px 20px 10px 20px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #616161;
}
.Showrooms button {
  margin-left: 20px;
  width: 180px;
  height: 45px;
  cursor: pointer;
  background-color: #111010;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  letter-spacing: 3px;
  transition: 0.9s;
}
.Showrooms button:hover {
  background-color: red;
}

@media (min-width: 1000px) and (max-width: 1920px) {
  .Showrooms_flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Showrooms_flex img {
    margin-top: 100px;
    width: 817px;
    height: 649px;
  }
  .Showrooms_flex .Showrooms {
    margin-left: 800px;
    margin-top: 250px;
    max-width: 692px;
    max-height: 522px;
  }
}
.Tile_Collections {
  margin-top: 50px;
}

.Tile h2 {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #111010;
}
.Tile p {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #616161;
}

.Collections1 {
  display: flex;
  margin: auto;
  width: 1140px;
}
.Collections1 img {
  width: 310px;
}

@media (min-width: 0px) and (max-width: 1000px) {
  .Tile_Collections {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */