.body {
  min-width: 414px;
  margin: 0 auto;
}

.header_menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 18px 20px;
}

.header_menu_decstop {
  display: none;
}

@media (min-width: 1000px) and (max-width: 1920px) {
  .Hamburger {
    display: none;
  }
  .basket {
    display: none;
  }
  .header_menu {
    display: block;
  }
  .header_logo {
    text-align: center;
  }
  .header_menu_decstop {
    display: flex;
    justify-content: space-evenly;
  }
  .header_menu_decstop a {
    text-decoration: none;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #0A0A0A;
  }
  .header_menu_decstop .headrer_a {
    color: #979797;
  }
  .menu_item {
    display: flex;
    gap: 40px;
  }
  .header_nav {
    display: flex;
    gap: 20px;
  }
}
.new {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.new .tile {
  margin-top: -50px;
  width: 388px;
  background-color: #666A6F;
}
.new .tile h2 {
  padding: 10px 20px 10px 20px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.new .tile p {
  padding: 10px 20px 10px 20px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ECECEC;
}
.new .tile button {
  cursor: pointer;
  margin: 10px 180px 30px 20px;
  background-color: #FFFFFF;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: right;
  text-transform: uppercase;
  color: #040404;
  border: none;
  padding: 14px 40px 14px 40px;
  transition: 0.6s;
  border-radius: 10px;
}
.new .tile button:hover {
  background-color: #073874;
}

@media (min-width: 1000px) and (max-width: 1920px) {
  .new {
    margin-top: 30px;
    background-image: url(../img/background_chair.jpg);
    max-width: 1920px;
    height: 676px;
    background-repeat: no-repeat;
  }
  .new img {
    display: none;
  }
  .new .tile {
    width: 600px;
    height: 400px;
    position: absolute;
    left: 700px;
    top: 220px;
  }
  .new .tile h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
  }
  .new .tile p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }
}
.Products {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Products h2 {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #111010;
}
.Products h2:after {
  content: "";
  border-bottom: solid 5px #141313;
}
.Products p {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #616161;
}

body {
  position: relative;
  height: 100%;
}

.swiper_h2 {
  padding: 200px 100px;
  font-family: "KyivType Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 90px;
  line-height: 132.9%;
  text-transform: uppercase;
  color: #F5F5F5;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_s {
  min-width: 454px;
  max-height: 274px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.Custom_bullet {
  width: 26px;
  height: 26px;
  border: 4px solid #728BAD;
  border-radius: 100%;
  margin: 0 9px;
  display: inline-block;
  box-sizing: border-box;
}
.Custom_bullet.swiper-pagination_bullet_active {
  background: #D5DCEE;
}

.castom {
  margin: auto;
  width: 361px;
  height: 93px;
  background-color: #111010;
  border: 1px solid #FFFFFF;
}
.castom h2 {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}
.castom p {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  text-align: center;
  color: #B4B4B4;
}

@media (min-width: 1000px) and (max-width: 1920px) {
  .container {
    display: none;
  }
  .Products {
    margin-bottom: 30px;
  }
  .desktop {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .desktop .img_item {
    width: 558px;
    height: 618px;
  }
  .desktop .item {
    padding-top: 25px;
    position: absolute;
    margin-top: -80px;
    margin-left: 17px;
    width: 520px;
    height: 110px;
    background-color: #111010;
    border: 1px solid #FFFFFF;
  }
  .desktop .item h2 {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
  }
  .desktop .item p {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #B4B4B4;
  }
  .desktop .img_item1 {
    width: 330px;
    height: 618px;
  }
  .desktop .item1 {
    padding-top: 25px;
    margin-left: 22px;
    position: absolute;
    margin-top: -80px;
    width: 285px;
    height: 110px;
    background-color: #111010;
    border: 1px solid #FFFFFF;
  }
  .desktop .item1 h2 {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
  }
  .desktop .item1 p {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #B4B4B4;
  }
  .desktop .img_item2 {
    width: 420px;
    height: 280px;
  }
  .desktop .item2 {
    padding-top: 25px;
    margin-left: 25px;
    position: absolute;
    margin-top: -80px;
    background-color: #111010;
    border: 1px solid #FFFFFF;
    width: 370px;
    height: 110px;
  }
  .desktop .item2 h2 {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
  }
  .desktop .item2 p {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #B4B4B4;
  }
  .desktop .item2_last {
    margin-top: 52px;
  }
}/*# sourceMappingURL=style.css.map */